body{
margin:0;
background:#031633;
font-family:Arial;
color:white;
}

.box{
max-width:420px;
margin:auto;
padding:30px;
display:flex;
flex-direction:column;
gap:14px;
}

input{
padding:14px;
border-radius:12px;
border:none;
font-size:16px;
}

button{
padding:16px;
border:none;
border-radius:14px;
background:#2f80ff;
color:white;
font-size:18px;
font-weight:bold;
}

.avatar{
width:110px;
height:110px;
border-radius:50%;
object-fit:cover;
}

.center{
padding:40px;
text-align:center;
}
